# ===== Python cache =====
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
__pycache__

# ===== Virtual environments =====
venv/
.venv/
ENV/
env/

vrp_final_solution_*.json
vrp_solution_*.json
relatorio_vrp*.pdf

ANALISE_DADOS_VRP.md
ANALISE_TSP.md
ANALISE_VRP.md
data_files/deliveries_TESTE_VRP.csv
data_files/veiculos_TESTE_VRP.csv